<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <nav class="site-nav">
        <a href="{{ site.url }}">Home</a>
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
  <div class="bumper"></div>
  <div class="wrap">
    <div class="measure">
      <nav class="site-nav categories">
      {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <a href="/categories/#{{ category_name | slugify }}">{{ category_name }}</a>
      {% endfor %}
      </nav>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
